#tela{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	
}
#hackspace{
	border: 0.1px solid #000;
    margin: 0 auto;
	position: relative;
	z-index: 0;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;

}
